
/* logo */

.logo{
    position: absolute;
    width: 159px;
    height: 103px;
    left: calc(50% - 159px/2);
    top: calc(50% - 103px/2 - 234.5px);
    background-image: url("../../images/logo.png");
}
  
/* sign up */

.signup{
    position: absolute;
    width: 196px;
    height: 53px;
    left: calc(50% - 196px/2 - 0.5px);
    top: calc(50% - 53px/2 + 264.5px);
    
    background: rgba(58, 167, 174, 0.8);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px; 
}

/* back */

.back{
    position: absolute;
    width: 196px;
    height: 53px;
    left: calc(50% - 196px/2 + 0.5px);
    top: calc(50% - 53px/2 + 339.5px);
    
    background: rgba(58, 167, 174, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

/* Name */

.name-title{
    position: absolute;
    width: 68px;
    height: 22px;
    left: calc(50% - 68px/2 - 86.5px);
    top: calc(50% - 22px/2 - 80px);

    font-family: Overpass Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* name-form */

.name{
    position: absolute;
    width: 251px;
    height: 37px;
    left: calc(50% - 251px/2 + 5px);
    top: calc(50% - 37px/2 - 26.5px);
    
    background: rgba(251, 230, 230, 0.44);
    border-radius: 7px;
}


/* Email */

.email-title{
    position: absolute;
    width: 100px;
    height: 22px;
    left: calc(50% - 100px/2 - 70.5px);
    top: calc(50% - 22px/2 - 4px);
    
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

/* email-form */

.email{
    position: absolute;
    width: 251px;
    height: 37px;
    left: calc(50% - 251px/2 + 5px);
    top: calc(50% - 37px/2 + 48.5px);
    
    background: rgba(251, 230, 230, 0.44);
    border-radius: 7px;
}

.password-title{
    position: absolute;
    width: 100px;
    height: 22px;
    left: calc(50% - 100px/2 - 70.5px);
    top: calc(50% - 22px/2 + 72px);
    
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.password{
    position: absolute;
    width: 251px;
    height: 37px;
    left: calc(50% - 251px/2 + 5px);
    top: calc(50% - 37px/2 + 123.5px);
    
    background: rgba(251, 230, 230, 0.44);
    border-radius: 7px;
}