
.div-signup-page{
    width: 100%;
    height: 100%;
    margin: 100px 10px 10px 10px;
}
.div-logo{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.svg-logo{
    width: 159px;
    height: 103px;
    margin: 10px 10px 10px 10px;
    background-image: url("../images/logo.png");
}
.div-email{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.div-pwd{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.div-name{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.div-button{
    margin: 10px 10px 10px 10px;
    /* width: 280px; */
    text-align: center;
}
.div-signin{
    margin: 10px 10px 10px 10px;
    text-align: center;
}